In [24]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import google_api_key

In [25]:
# Store city_data_df into df
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kralendijk,BQ,2022-06-09 03:35:38,12.1500,-68.2667,80.58,83,20,14.97
1,1,Butaritari,KI,2022-06-09 03:35:38,3.0707,172.7902,82.04,70,9,9.06
2,2,Saint-Philippe,RE,2022-06-09 03:33:58,-21.3585,55.7679,66.11,77,95,13.18
3,3,Sorong,ID,2022-06-09 03:35:39,-0.8833,131.2500,82.31,79,100,5.86
4,4,Matay,EG,2022-06-09 03:35:39,28.4190,30.7792,84.49,27,0,5.17

In [26]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [27]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=google_api_key)

In [28]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [29]:
# CREATE HEATMAP of temp
# Assign locations to an array of lat/long pairs
locations = city_data_df[["Lat", "Lng"]]
# Assign weight for heatmap variables
max_temp = city_data_df["Max Temp"]
temps = []

##for temp in max_temp:
##    temps.append(max(temp, 0))
## OR
temps = [max(temp, 0) for temp in max_temp]
    
# Assign figure variable to gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign heatmap_layer variable to heatmap_layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=temps,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
# Add in heatmap_layer
fig.add_layer(heat_layer)
# Call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
#REATE HEATMAP OF humidity
humidity = city_data_df["Humidity"]

# Assign figure variable to gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign heatmap_layer variable to heatmap_layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
# Add in heatmap_layer
fig.add_layer(heat_layer)
# Call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
#REATE HEATMAP OF humidity
clouds = city_data_df["Cloudiness"]

# Assign figure variable to gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign heatmap_layer variable to heatmap_layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
# Add in heatmap_layer
fig.add_layer(heat_layer)
# Call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#REATE HEATMAP OF humidity
wind = city_data_df["Wind Speed"]

# Assign figure variable to gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign heatmap_layer variable to heatmap_layer attribute and add in locations
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=300,
                                point_radius=4)
# Add in heatmap_layer
fig.add_layer(heat_layer)
# Call figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer the min and max temp value
min_temp = float(input("What is the min temperature you would like for your trip? "))
max_temp = float(input("What is the max temperature you would like for your trip? "))

What is the min temperature you would like for your trip? 70
What is the max temperature you would like for your trip? 100

In [33]:
# Filter based on the user inputs to grab all cities with that crieria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kralendijk,BQ,2022-06-09 03:35:38,12.1500,-68.2667,80.58,83,20,14.97
1,1,Butaritari,KI,2022-06-09 03:35:38,3.0707,172.7902,82.04,70,9,9.06
3,3,Sorong,ID,2022-06-09 03:35:39,-0.8833,131.2500,82.31,79,100,5.86
4,4,Matay,EG,2022-06-09 03:35:39,28.4190,30.7792,84.49,27,0,5.17
5,5,Kuching,MY,2022-06-09 03:35:40,1.5500,110.3333,77.22,94,40,3.44

In [34]:
# Determine if there are any nulll values
preferred_cities_df.count()

City_ID       36
City          36
Country       36
Date          36
Lat           36
Lng           36
Max Temp      36
Humidity      36
Cloudiness    36
Wind Speed    36
dtype: int64

In [35]:
# Create dataframe to store hotel names and other city values based on preferences
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
0  Kralendijk      BQ     80.58  12.1500  -68.2667
1  Butaritari      KI     82.04   3.0707  172.7902
3      Sorong      ID     82.31  -0.8833  131.2500
4       Matay      EG     84.49  28.4190   30.7792
5     Kuching      MY     77.22   1.5500  110.3333

In [44]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key,
    "location": ""
}

In [46]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
        continue

Hotel not found... skipping

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))